<ng-container>
    <div class="card">
        <form [formGroup]="autotuneForm" (ngSubmit)="updateAutotune()" *ngIf="autotuneForm">
            <h3>Autotune Settings</h3>
            <div class="field grid p-fluid">
                <label for="auto_tune_hashrate" class="col-12 md:col-2 md:m-0">Auto Tune Hashrate</label>
                <input type="checkbox" id="auto_tune_hashrate" formControlName="auto_tune_hashrate" />
            </div>
            <div>
                <div class="field grid p-fluid">
                    <label class="col-12 md:col-2 md:m-0">Power Limit Watt</label>
                    <input type="number" class="form-control" formControlName="power_limit">
                </div>
                <div class="field grid p-fluid">
                    <label class="col-12 md:col-2 md:m-0">Fan Limit %</label>
                    <input type="number" class="form-control" formControlName="fan_limit">
                </div>
                <div class="field grid p-fluid">
                    <label class="col-12 md:col-2 md:m-0">Overshot Power Limit Watt</label>
                    <input type="number" class="form-control" formControlName="overshot_power_limit">
                </div>
                <div class="field grid p-fluid">
                    <label class="col-12 md:col-2 md:m-0">Overshot Fanspeed %</label>
                    <input type="number" class="form-control" formControlName="overshot_fanspeed">
                </div>
                <div class="field grid p-fluid">
                    <label class="col-12 md:col-2 md:m-0">Max Voltage ASIC mV</label>
                    <input type="number" class="form-control" formControlName="max_voltage_asic">
                </div>
                <div class="field grid p-fluid">
                    <label class="col-12 md:col-2 md:m-0">Max Frequency ASIC MHz</label>
                    <input type="number" class="form-control" formControlName="max_frequency_asic">
                </div>
                <div class="field grid p-fluid">
                    <label class="col-12 md:col-2 md:m-0">Max ASIC Temperatur °C</label>
                    <input type="number" class="form-control" formControlName="max_asic_temperatur">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!autotuneForm.valid">Save Autotune
                Settings</button>
        </form>
    </div>
</ng-container>