<!-- main/http_server/axe-os/src/app/components/autotune/autotune.component.html -->
<ng-container>
  <div class="card">
    <form [formGroup]="autotuneForm" (ngSubmit)="updateAutotune()" *ngIf="autotuneForm">
      <h3>Autotune Settings</h3>
      <div class="card">

        <!-- Auto Tune Hashrate -->
        <div class="field grid p-fluid">
          <label for="auto_tune" class="col-12 md:col-2 md:m-0">Auto Tune Hashrate
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Enables automatic tuning of hashrate based on system conditions. This feature adjusts the hashrate dynamically to optimize performance and efficiency."></i>
          </label>
          <div class="col-12 md:col-10">
            <p-checkbox type="checkbox" id="auto_tune" class="form-control"
              [(ngModel)]="autotuneForm.value.auto_tune" formControlName="auto_tune"
              binary>
            </p-checkbox>
          </div>
        </div>

        <!-- Power Limit -->
        <div class="field grid p-fluid">
          <label for="power_limit" class="col-12 md:col-2 md:m-0">Power Limit
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Sets the maximum power limit in watts. This prevents the system from consuming more power than this threshold, helping to manage energy costs and prevent overheating."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="power_limit" class="form-control"
              formControlName="power_limit">
          </div>
        </div>

        <!-- Fan Limit -->
        <div class="field grid p-fluid">
          <label for="fan_limit" class="col-12 md:col-2 md:m-0">Fan Limit
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Sets the maximum fan speed limit in percent. This ensures that fans do not exceed this speed, helping to control noise levels and reduce wear on the fans."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="fan_limit" class="form-control"
              formControlName="fan_limit">
          </div>
        </div>

        <!-- Overshot Power Limit -->
        <div class="field grid p-fluid">
          <label for="osh_pow_limit" class="col-12 md:col-2 md:m-0">Overshot Power Limit
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Maximum allowed power overshoot in watts. This provides a buffer for temporary spikes above the power limit, allowing for brief surges without triggering safety mechanisms."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="osh_pow_limit" class="form-control"
              formControlName="osh_pow_limit">
          </div>
        </div>

        <!-- Overshot Fanspeed -->
        <div class="field grid p-fluid">
          <label for="osh_fan_limit" class="col-12 md:col-2 md:m-0">Overshot Fanspeed
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Maximum allowed fan speed overshoot in percent. This provides a buffer for temporary spikes above the fan limit, allowing for brief increases without triggering safety mechanisms."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="osh_fan_limit" class="form-control"
              formControlName="osh_fan_limit">
          </div>
        </div>

        <!-- Max Voltage ASIC -->
        <div class="field grid p-fluid">
          <label for="max_volt_asic" class="col-12 md:col-2 md:m-0">Max Voltage ASIC
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Maximum voltage for the ASIC in millivolts. This prevents over-voltage conditions that could damage hardware, ensuring safe operation within specified limits."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="max_volt_asic" class="form-control"
              formControlName="max_volt_asic">
          </div>
        </div>

        <!-- Max Frequency ASIC -->
        <div class="field grid p-fluid">
          <label for="max_freq_asic" class="col-12 md:col-2 md:m-0">Max Frequency ASIC
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Maximum frequency for the ASIC in megahertz. This prevents overclocking beyond safe limits, ensuring stable and reliable performance."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="max_freq_asic" class="form-control"
              formControlName="max_freq_asic">
          </div>
        </div>

        <!-- Max ASIC Temperature -->
        <div class="field grid p-fluid">
          <label for="max_temp_asic" class="col-12 md:col-2 md:m-0">Max Temperature ASIC
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Maximum temperature for the ASIC in degrees Celsius. This ensures thermal safety, preventing hardware damage due to overheating."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="max_temp_asic" class="form-control"
              formControlName="max_temp_asic">
          </div>
        </div>

        <!-- Max V/F Ratio -->
        <div class="field grid p-fluid">
          <label for="vf_ratio_max" class="col-12 md:col-2 md:m-0">Max V/F Ratio
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Sets the maximum allowable Voltage/Frequency ratio. This ratio is crucial for determining efficiency and power delivery to ASICs. A higher ratio can lead to overheating, while a lower one might not provide enough power."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="vf_ratio_max" class="form-control"
              formControlName="vf_ratio_max">
          </div>
        </div>

        <!-- Min V/F Ratio -->
        <div class="field grid p-fluid">
          <label for="vf_ratio_min" class="col-12 md:col-2 md:m-0">Min V/F Ratio
            <i class="pi pi-info-circle text-xs px-1"
              pTooltip="Sets the minimum allowable Voltage/Frequency ratio. This ratio affects energy efficiency and chip performance. Setting this too low could cause insufficient power supply, leading to performance degradation or system instability."></i>
          </label>
          <div class="col-12 md:col-10">
            <input pInputText type="number" id="vf_ratio_min" class="form-control"
              formControlName="vf_ratio_min">
          </div>
        </div>

      </div>
      <button pButton [disabled]="!autotuneForm.valid" type="submit">Save</button>
    </form>
  </div>
</ng-container>