<div class="card" *ngIf="combinedData$ | async as data">
    <h2>System</h2>

    <div class="card">
        <table>
            <tr>
                <td class="text-500 pb-3">Device Model</td>
                <td class="pb-3">
                    <span [class]="'text-' + data.asic.swarmColor + '-500'">
                        {{data.asic.deviceModel || 'Other'}}
                    </span>
                    ({{data.asic.asicCount > 1 ? data.asic.asicCount + 'x ' : ''}}{{data.asic.ASICModel}})
                </td>
            </tr>

            <tr>
                <td class="text-500 vertical-align-top pb-3">Uptime</td>
                <td class="pb-3">{{data.info.uptimeSeconds | dateAgo}}</td>
            </tr>

            <tr>
                <td class="text-500">Wi-Fi Status</td>
                <td>{{data.info.wifiStatus}}</td>
            </tr>
            <tr>
                <td class="text-500 pb-3">Wi-Fi RSSI</td>
                <td class="inline pb-3" [ngClass]="{
                    'text-green-500': data.info.wifiRSSI > -50,
                    'text-blue-500': data.info.wifiRSSI <= -50 && data.info.wifiRSSI > -60,
                    'text-orange-500': data.info.wifiRSSI <= -60 && data.info.wifiRSSI > -70,
                    'text-red-500': data.info.wifiRSSI <= -70
                }" pTooltip="{{
                    data.info.wifiRSSI > -50 ? 'Excellent' :
                    (data.info.wifiRSSI <= -50 && data.info.wifiRSSI > -60 ? 'Good' :
                    (data.info.wifiRSSI <= -60 && data.info.wifiRSSI > -70 ? 'Fair' : 'Weak'))
                }}" tooltipPosition="bottom">
                    {{data.info.wifiRSSI}} dBm
                </td>
            </tr>

            <tr>
                <td class="text-500 pb-3">MAC Address</td>
                <td class="pb-3">{{data.info.macAddr}}</td>
            </tr>

            <tr>
                <td class="text-500 white-space-nowrap pb-3 pr-4">Free Heap Memory</td>
                <td class="pb-3">{{data.info.freeHeap}}</td>
            </tr>

            <tr *ngFor="let row of [
                { label: 'Firmware Version', value: data.info.version },
                { label: 'AxeOS Version', value: data.info.axeOSVersion },
                { label: 'ESP-IDF Version', value: data.info.idfVersion.substr(1) },
                { label: 'Board Version', value: data.info.boardVersion },
            ]">
                <td class="text-500">{{ row.label }}</td>
                <td>{{ row.value }}</td>
              </tr>
        </table>
    </div>
</div>
