<div class="card" *ngIf="combinedData$ | async as data">
    <h2>System</h2>

    <div class="card">
        <table>
            <tr *ngFor="let row of [
                { label: 'Device Model', value: data.asic.deviceModel || 'Other' },
                { label: 'Board Version', value: data.info.boardVersion },
                { label: 'Asic Type', value: (data.asic.asicCount > 1 ? data.asic.asicCount + 'x ' : ' ') + data.asic.ASICModel, class: 'pb-3' },
                { label: 'Uptime', value: data.info.uptimeSeconds | dateAgo, class: 'pb-3' },
                { label: 'Wi-Fi Status', value: data.info.wifiStatus },
            ]">
                <td class="text-500 vertical-align-top" [ngClass]="row.class">{{ row.label }}</td>
                <td class="vertical-align-top" [ngClass]="row.class">{{ row.value }}</td>
            </tr>

            <tr>
                <td class="text-500 pb-3">Wi-Fi RSSI</td>
                <td class="inline pb-3" [ngClass]="{
                    'text-green-500': data.info.wifiRSSI > -50,
                    'text-blue-500': data.info.wifiRSSI <= -50 && data.info.wifiRSSI > -60,
                    'text-orange-500': data.info.wifiRSSI <= -60 && data.info.wifiRSSI > -70,
                    'text-red-500': data.info.wifiRSSI <= -70
                }" pTooltip="{{
                    data.info.wifiRSSI > -50 ? 'Excellent' :
                    (data.info.wifiRSSI <= -50 && data.info.wifiRSSI > -60 ? 'Good' :
                    (data.info.wifiRSSI <= -60 && data.info.wifiRSSI > -70 ? 'Fair' : 'Weak'))
                }}" tooltipPosition="bottom">
                    {{data.info.wifiRSSI}} dBm
                </td>
            </tr>

            <tr *ngFor="let row of [
                { label: 'MAC Address', value: data.info.version, class: 'pb-3' },
                { label: 'Free Heap Memory', value: data.info.macAddr, class: 'pb-3' },
                { label: 'Firmware Version', value: data.info.version },
                { label: 'AxeOS Version', value: data.info.axeOSVersion },
                { label: 'ESP-IDF Version', value: data.info.idfVersion.substr(1) },
            ]">
                <td class="text-500 vertical-align-top pr-4" [ngClass]="row.class">{{ row.label }}</td>
                <td class="vertical-align-top" [ngClass]="row.class">{{ row.value }}</td>
              </tr>
        </table>
    </div>
</div>
