<div class="grid">
    <div class="col-12 lg:col-6">
        <div class="card">
            <h2>Overview</h2>
            <table *ngIf="info$ | async as info">
                <tr>
                    <td>Model:</td>
                    <td>{{info.ASICModel}}</td>
                </tr>
                <tr>
                    <td>Uptime:</td>
                    <td>{{info.uptimeSeconds | dateAgo}}</td>
                </tr>
                <tr>
                    <td>Wi-Fi Status:</td>
                    <td>{{info.wifiStatus}}</td>
                </tr>
                <tr>
                    <td>MAC Address:</td>
                    <td>{{info.macAddr}}</td>
                </tr>
                <tr>
                    <td>Free Heap Memory:</td>
                    <td>{{info.freeHeap}}</td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>{{info.version}}</td>
                </tr>
                <tr>
                    <td>ESP-IDF Version:</td>
                    <td>{{info.idfVersion}}</td>
                </tr>
                <tr>
                    <td>Board Version:</td>
                    <td>{{info.boardVersion}}</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="col-12">
        <div class="card">
            <h2 class="flex flex-wrap gap-3">
                Realtime Logs
                <button pButton (click)="toggleLogs()" class="btn btn-secondary">
                    {{showLogs ? 'Hide': 'Show'}} Logs
                </button>

                <button pButton (click)="isEnlarged = !isEnlarged" class="btn btn-secondary" *ngIf="showLogs">
                    Enlarge Logs
                </button>

                <button pButton class="btn btn-secondary" (click)="stopScroll = !stopScroll" *ngIf="showLogs">
                    {{stopScroll ? 'Start' : 'Stop'}} Scrolling
                </button>
            </h2>

            <div *ngIf="showLogs" id="logs" #scrollContainer [ngClass]="{'is-enlarged': isEnlarged}">
                <div *ngFor="let log of logs" [ngClass]="log.className">₿ {{log.text | ANSI}}</div>
                <button pButton (click)="isEnlarged = !isEnlarged" class="minimize-button">Minimize</button>
            </div>
        </div>
    </div>
</div>
