<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <div [routerLink]="['/']" class="header-text"><span style="font-family: Angel Wish; font-size: 4rem;">Axe</span><span class="os" style=" font-size: 3rem;">OS</span></div>
    </a>

    <button *ngIf="!isAPMode" #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <ng-container *ngIf="isDesktop()">
        <ul *ngIf="info$ | async as info" class="hidden lg:flex lg:flex-column ml-auto opacity-80">
            <li class="flex align-items-center gap-2 select-none pl-2"
                tooltipPosition="left"
                pTooltip="Hostname"
            >
                <img src="/assets/images/bitaxe.svg" width="16" height="16" alt="Bitaxe" />
                {{info.hostname}}
            </li>
            <li class="flex align-items-center gap-2 select-none pl-2"
                tooltipPosition="left"
                pTooltip="WiFi RSSI {{
                    info.wifiRSSI > -50 ? 'excellent' :
                    (info.wifiRSSI <= -50 && info.wifiRSSI > -60 ? 'good' :
                    (info.wifiRSSI <= -60 && info.wifiRSSI > -70 ? 'fair' : 'weak'))
                }}"
            >
                <i class="pi pi-wifi" style="font-size: 1.143rem"></i>
                <span [ngClass]="{
                    'text-green-500': info.wifiRSSI > -50,
                    'text-blue-500': info.wifiRSSI <= -50 && info.wifiRSSI > -60,
                    'text-orange-500': info.wifiRSSI <= -60 && info.wifiRSSI > -70,
                    'text-red-500': info.wifiRSSI <= -70
                }">
                    {{info.wifiRSSI}} dBm
                </span>
            </li>
        </ul>
    </ng-container>
</div>